.button {
	padding-top: 0.7rem;
	padding-bottom: 1rem;
	padding-left: 5rem;
	padding-right: 5rem;

	color: white;
	font-size: 2rem;
	font-family: $main-font;
	text-align: center;

	background: $orange;
	border-radius: 0;
	border: none;
	box-shadow: 0;
}

.table {
	.button {
		padding-left: 1rem;
		padding-right: 1rem;

		font-size: 1.6rem;
	}
}