@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');

html {
    font-size: 62.5%;
}

body {
    font-family: $main-font;
    font-size: 1.8rem;
    letter-spacing: 1px;

    color: $black;
}

.title {
	font-size: 4rem;
	font-weight: normal;
    letter-spacing: 2px;
}

.subtitle {
	color: $gray;
	font-size: 2.6rem;
	text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
	@extend .title;
}

a:not(.button), a:visited:not(.button) {
    color: $orange;

    &:hover {
        text-decoration: underline;
    }
}