.login-wrapper {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    
    padding: 3.5rem;

    background: white;
    
    h1 {
        margin-bottom: 3rem;
    }
}