@import "back/includes/_variables";
@import "back/includes/_typography";
@import "back/includes/_structure";
@import "back/includes/_buttons";
@import "back/includes/_tables";
@import "back/includes/_form";
@import "back/includes/_page";

@import "back/pages/_dashboard";
@import "back/pages/_results";
@import "back/pages/_quiz";

.add-button {
    display: inline-block;
    vertical-align: top;
}

.correct {
    float: right;

    cursor: pointer;
}

.correct.checked {
    color: orange;
}

.input {
    width: 97%;
}

.div-50 {
    width: 50%;
    float: left;
}

.div-50 .input {
    width: 80%;
}

.div-50 input[type="number"] {
    width: 50px;
}

.duplicate-button, .delete-button {
    float: right;
    margin-left: 0.5rem;
}

.move-button:hover {
    cursor: move;
}

.sortable-ghost > div {
    border: 1px solid $orange;
    box-shadow: none;
    background: none;
}

.updating_title, .updating_subtitle {
    padding: 0;
    margin: 0;
    margin-bottom: 1.5rem;
    width: 50%;
    display: inline-block;
    border: none;
    box-shadow: none;
    height: auto;
    outline: none;
    border-radius: 0;

    &:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.questions-number {
    margin-right: 2rem;
    float:right;

    .number {
        display: inline-block;
        visibility: middle;
    }
}

.updating_time {
    border: none;
    box-shadow: none;
    outline: none;
    min-width: 0;
    width: 4rem;

    &:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.status-1 {
    background: hsl(0, 0%, 96%);
}

.status-2 {
    background: hsla(47, 100%, 67%, 0.3);
}

.status-3 {
    background: hsla(140, 70%, 47%, 0.3);
}